<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <input type="hidden" name="_method" value="put">
        
        <label for="">Title</label>
        <input type="text" name="patch_name">

        <label for="">Description</label>
        <input type="text" name="patch_desc">

        <label for="">Theme Name</label>
        <input type="text" name="theme_name">

        <label for="">Background Picture URL</label>
        <input type="text" name="bg_img_url">

        <label for="">Main Picture URL</label>
        <input type="text" name="main_img_url">
    </form>
</body>
</html>