<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Patchwork</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <h1>Patchwork</h1>
    <nav>
      <ul>
        <a href="/patches">My Patches</a>
        <a href="/themes">Themes</a>
        <a href="/about">About</a>
        <a href="/">Sign Out</a>
      </ul>
    </nav>
  </header>

  <%= yield %>

</body>
</html>
