<h1>Create a Theme</h1>

<form action="/themes" method="post">
    <label for="">Theme Name</label>
    <input type="text" name="theme_name">

    <label for="">Main Image</label>
    <input type="text" name="main_img_url">

    <label for="">Background Image</label>
    <input type="text" name="bg_img_url">

    <button>Confirm</button>
</form>