<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <h2>Add to your Patchwork</h2>

    <form action="/patches" method="post" id="new_patch_form">
        <label for="">Title</label>
        <input type="text" name="patch_name">

        <label for="">Description</label>
        <input type="text" name="patch_desc">

        <label for="select_theme">Select a Theme</label>
        <select name="theme_id" form="new_patch_form" id="select_theme">
            <% themes.each do |theme| %>
                <option value="<%= theme['theme_id'] %>"> 
                    <%= theme['theme_name'] %>
                </option>
            <% end  %>
        </select>

        <button>Confirm</button>
    </form>
</body>
</html>