<h2>Add to your Patchwork</h2>

<form action="/patches" method="post">
    <label for="">Title</label>
    <input type="text" name="patch_name">

    <label for="">Description</label>
    <input type="text" name="patch_desc">

    <label for="">Theme Name</label>
    <input type="text" name="theme_name">

    <label for="">Background Picture URL</label>
    <input type="text" name="bg_img_url">

    <label for="">Main Picture URL</label>
    <input type="text" name="main_img_url">

    <button>Create your patch</button>
</form>