<h1>My Patchwork/User's Patchwork</h1>


<ul>
    <%patches.count.times do |patch_num| %>
        <li>
            <%=patch_num['patch_name'] %>
            <%=patch_num['patch_desc'] %>
            <img src="<%= themes[patch_num]['bg_img_url']%>" alt="mainimg">
        </li>
    <% end %>
</ul>