<h1>My Patchwork/User's Patchwork</h1>


<ul>
    <%patches.each.with_index do |patch, index| %>
        <li>
            <a href="/patches/<%=patch['patch_id'] %>">View Patch</a>
            <%=patch['patch_name'] %>
            <br>
            <%=patch['patch_desc'] %>
            <br>
            <img src="<%= themes[index]['bg_img_url']%>" alt="mainimg">
        </li>
    <% end %>
</ul>