<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/main.css">
</head>
<body>
    <h1>Your Themes</h1>
    <br>
    <br>
    <a href='/themes/new'>Add a Theme</a>
    <br>
    <ul id="theme_list">
        <% themes.each do |theme|%>
            <li>
                <h4><%= theme['theme_name'] %></h4>
                <br>
                <img width="200px" height="200px" src="<%= theme['main_img_url'] %>" alt="">
                <br>
                <a href="/themes/<%= theme['theme_id'] %>/edit">Edit Theme</a>
            </li>
        <% end  %>
    </ul>
</body>
</html>