<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/main.css">
</head>
<body>
    <h1>Your Themes</h1>

    <ul>
        <a href="/themes/new">Add a Theme</a>
        <% themes.each do |theme|%>
            <li>
                <%= theme['theme_name'] %>
                <br>
                <img src="<%= theme['main_img_url'] %>" alt="">
                <br>
                <a href="/themes/<%= theme['theme_id'] %>/edit">Edit Theme</a>
            </li>
        <% end  %>
    </ul>
</body>
</html>